<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <form action="/" method="POST">
      <div class="thought">
        <label for="thought1_id"
          >Thought 1
          <select name="thought1_id" id="thought1_id">
            <option name="no-category" value="no-category"></option>
            <option name="category1">Category1</option>
            <option name="category2">Category2</option>
            <option name="category3">Category3</option>
          </select>
        </label>
      </div>
      <div class="thought">
        <label for="thought2_id"
          >Thought 2
          <select name="thought2_id" id="thought2_id">
            <option name="no-category" value="no-category"></option>
            <option name="category1">Category1</option>
            <option name="category2">Category2</option>
            <option name="category3">Category3</option>
          </select>
        </label>
      </div>
      <div class="thought">
        <label for="thought3_id"
          >Thought 3
          <select name="thought3_id" id="thought3_id">
            <option name="no-category" value="no-category"></option>
            <option name="category1">Category1</option>
            <option name="category2">Category2</option>
            <option name="category3">Category3</option>
          </select>
        </label>
      </div>
      <div class="thought">
        <label for="thought4_id"
          >Thought 4
          <select name="thought4_id" id="thought4_id">
            <option name="no-category" value="no-category"></option>
            <option name="category1">Category1</option>
            <option name="category2">Category2</option>
            <option name="category3">Category3</option>
          </select>
        </label>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
